# Node Modules Folder

node_modules/

# Environment Variables File

.env 
blood-donar-firebase-admin.json

# Log files
*.log

# Build files 
/dist
/build 

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*